@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");


.carousel-inner > .item  {
   height: 100%;
   width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

div > .container-fluid{

  padding-left: 20 px;
  padding-right: 20 px;
}

div h1{
font-family: 'Girassol', cursive;
align-content: center;
}

.padding{
  padding-bottom: 2rem;
}
